modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "openjdk17"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Pipeline"

[[workflows.workflow]]
name = "Pipeline"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 4040
externalPort = 3000

[[ports]]
localPort = 41457
externalPort = 3001

[[ports]]
localPort = 44871
externalPort = 80
